*.user
*.suo
*.VC.db*
*.shader_inc
*.vspscc
*.opensdf
*.sdf
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.log
* - Copy*.*
Build_VS*
Build
Packages
/ModelConverter/assimp.dll
Packages

/SimLumen/.vs
/Core/.vs

/SimLumen/Assets/erato.obj
/SimLumen/Assets/erato-101.dds
/SimLumen/Assets/sdf_brick_tex.dds
/SimLumen/Assets/global_sdf_tex.dds
